html,
body {
    padding: 0;
    margin: 0;
    background: #e6e8eb;
}

.container {
    margin: 0;
    border-box: box-sizing;
    padding: 48px;
}

.top-bar,
.top-bar ul {
    background-color: white !important;
}

.top-bar {
    /* border-bottom: 1px solid black; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.login {
    margin: 0 auto;
    padding: 5%;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 720px) {
    .login {
        width: 40%;
    }
}

@media screen and (max-width: 720px) {
    .login {
        width: 100%;
    }
}

form .form-icons {
    text-align: center;
}

form .form-icons h4 {
    margin-bottom: 1rem;
}

form .form-icons .input-group-label {
    background-color: #1c1c1c;
    border-color: #1c1c1c;
}

form .form-icons .input-group-field {
    border-color: #1c1c1c;
}

form .form-icons .fa {
    color: white;
    width: 1rem;
}

.login input[type="submit"] {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #1c1c1c;
}

.mega-menu .dropdown-pane {
    width: 100%;
    max-width: 85rem;
    margin: 0 auto !important;
    left: 0% !important;
    right: 0% !important;
}

.mega-menu .menu {
    background: none;
}

.mega-menu > a::after {
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    content: "";
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: #1779ba transparent transparent;
    margin-left: 10px;
    margin-top: 11%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    /* max-width: 500px; */
    width: 100%;
}

.translucent-form-overlay {
    margin: 0 auto;
    min-width: 40%;
    min-height: 600px;
    background: white;
    padding: 48px;
    color: black;
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay input[type="submit"] {
    background-color: #1c1c1c;
    color: white;
    border: 1px solid #1c1c1c;
}

.hide {
    display: none;
}

.table-container {
    margin: 2%;
}

.dashboard-table {
    border-collapse: collapse;
    margin-bottom: 0;
}

.dashboard-table td {
    border-bottom: 1px dashed #d7d7d7;
}

.dashboard-table a {
    color: #242424;
}

.dashboard-table .bold {
    color: #0a0a0a;
    font-weight: 600;
}

.dashboard-table thead {
    background: none;
    border: 0;
    border-bottom: 1px solid #e6e6e6;
    color: #8a8a8a;
    font-size: 0.8rem;
}

.dashboard-table thead a {
    color: #8a8a8a;
}

.dashboard-table tbody {
    border: 1px solid #e1e1e1;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.dashboard-table tbody tr {
    transition: all 0.5s ease;
}

.dashboard-table tbody tr:hover {
    background: #fcf7da;
    transition: all 0.5s ease;
}

/* .dashboard-table tbody tr:nth-child(even) {
    background: none;
} */

.dashboard-table tr:last-child td {
    border-bottom: 0;
}

.dashboard-table-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.dashboard-table-timestamp {
    color: #9a9a9a;
    font-size: 0.9rem;
    font-weight: 400;
}

.dashboard-table-image {
    display: inline;
    margin-right: 1rem;
    margin-top: 0.6rem;
    max-width: 24px;
    height: auto;
}

.file-frame {
    /* position: fixed; */
    height: 80%;
    min-width: 70%;
    width: auto;
    background: white;
    border: 1px solid grey;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

tr {
    cursor: pointer;
}

.overlay-top-bar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
